<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On
    RewriteCond %{HTTP_HOST} ^recoleccionbasura.xalapa.gob.mx$
    RewriteRule ^$ http://recoleccionbasura.xalapa.gob.mx/api [L,R=301]
</IfModule>